.mainDiv {
  opacity: 1;
  border: 2px solid yellow;
  background: #f2fbf9 0% 0% no-repeat padding-box;
}

.signinDiv {
  width: 674px;
  margin: 0 auto;
  margin-top: 110px;
  border: 2px solid red;
  background: #00000033 0% 0% no-repeat padding-box;
  border-radius: 12px;
  position: relative;
}

.bg {
  width: 670px;
  height: 500px;
  border-radius: 12px;
}

.signupButton {
  background: #7cd2c6 0% 0% no-repeat padding-box;
  color: #fff;
  border-radius: 24px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 260px;
  margin-bottom: 12px;
  width: 295px;
  height: 48px;
}

.signinButton {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 24px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 210px;
  width: 295px;
  height: 48px;
}
